<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Admin Page!</h2>
        <a class="btn btn-primary" href="/admin/alluser">View All User</a>
        <a class="btn btn-secondary" href="/admin/addevent">Add Events</a>

    </div>
</div>

<%- include('partials/footer.ejs') %>