<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Landing Page!</h2>
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-primary" href="/logout">Logout</a>
        <a class="btn btn-primary" href="/signup">Register</a>
        <a class="btn btn-danger" href="/admin">Admin</a>
        <a class="btn btn-secondary" href="/event">Event</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>